.navbarStyl{
    width: 100%;
    height: 100vh;
    background: black;
    color : white;
    background-image: linear-gradient(to right, black , rgb(100, 98, 98));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.navbarUl{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    align-items: baseline;
    flex-wrap: wrap;

}
.navbarUl li{
    margin-left: 10px;
    margin-right: 10px;
}

/* comp 1 */
.comp1{
    width: 100%;
    height: auto;
    background: black;
    color : white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */
   
}

.subComp1{
    width: 100%;
    height: 70vh;

    display: flex;
    justify-content: space-evenly;
   height: 30%;
    color: white;
    margin-top: 5vh;
    /* flex-wrap: wrap; */
}
.middleComp{
    height: 10vh;      /* this comp is just for spacing  */
}
.subComp2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.comp2{
    position: relative;
    width: 100%;
    height: 100vh;
    color : white;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.subComp23{
    height: 30vh;
    width: 100%;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.subComp2_3_1{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
}
.subComp2_3_1 img{
    margin-left: 2%;
}

.subComp2_3_2 ul{
    display: flex;
    justify-content: center;
}
.subComp2_3_2 ul li{
    margin-left: 2%;
}

.subComp1 div{
    display:flex;
    flex-direction: column;
    align-items: center;
}